.BookComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  padding: 1.5em;
  max-width: 83%;
  min-width: 220px;
  background-color: white;
  text-align: start;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px black;
  width: 100%;
  transition:.3s ease;
  animation: popIn .3s ease;
}
@media screen and (max-width: 400px) {
  .BookComponent {
    max-width: 75%;
  }
}
.Book-title {
  margin-right: 1em;
  font-weight: bold;
}
.book-title-input {
  font-size: 1.4em;
  font-weight: bold;
  border: 0;
  font-family: "Rubik", sans-serif;
  height: 1.4em;
}
.book-author-text {
  font-size: 1.2em;
}
.book-description-text {
  font-size: 1em;
}
.book-author-input {
  font-size: 1.2em;
  border: 0;
  font-family: "Rubik", sans-serif;
  max-height: 1.3em;
}
.book-author-input {
  font-size: 1em;
  border: 0;
  font-family: "Rubik", sans-serif;
  max-height: 1.1em;
}
.book-component-icons-container {
  display: flex;
  gap: 0.5em;
  margin-left: 1em;
}

.vote-tags-container {
  margin-top: 1em;
  flex-wrap: wrap;
}
.voter-tag {
  padding: 0.1em 1em;
  animation: popIn 0.2s ease-in-out;
}
.close-description-button {
  padding: 0;
  border: 0;
  color: var(--pastel-red);
  margin-left: 10px;
}

.toggle-description-button {
  padding: 0;
  border: 0;
  color: var(--pastel-red);
}
.buttons-container{
  align-self: flex-end;
}
