@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');
:root {
  --bright-green: #60c538;
  --bright-yellow: #ffef3c;
  --bright-yellow-desaturated: #fff36e;
  --pastel-yellow: #fff58a;
  --pastel-red: #d53636;
  --pastel-blue: #4d51b4;
  --dark-grey: #1d1d1d;
}

a {
  text-decoration: none;
}
#root {
  max-width: calc(1280px);
  width: calc(100% - 6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  background-color: var(--pastel-yellow);
  min-height: calc(100vh-6px);
  margin: 0;
  font-family:'Rubik', sans-serif;
  padding-bottom:3em;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(206, 116, 116);
  background-color: var(--pastel-red);
  color: black;
}
input, textarea{
  font-size:1em;
  resize:horizontal;
  max-width:100%;
}

/*Globals=====================================================================================================*/
/*Buttons--------------------------------------*/
.white-button{
  color:black;
  border: 2px solid black;
  padding: .3em 1em;
  text-align: center;
  border-radius:20px;
  box-shadow: 3px 3px black;
  background-color: white;
}
.red-button{
  color:white;
  border: 2px solid black;
  padding: .3em 1em;
  text-align: center;
  border-radius:20px;
  box-shadow: 3px 3px black;
  background-color: var(--pastel-red)
}
.blue-button{
  color:white;
  border: 2px solid black;
  padding: .3em 1em;
  text-align: center;
  border-radius:20px;
  box-shadow: 3px 3px black;
  background-color: var(--pastel-blue)
}
.bright-yellow-button{
  color:black;
  border: 2px solid black;
  padding: .3em 1em;
  text-align: center;
  border-radius:20px;
  box-shadow: 3px 3px black;
  background-color: var(--bright-yellow)
}
.bright-green-button{
  color:black;
  border: 2px solid black;
  padding: .3em 1em;
  text-align: center;
  border-radius:20px;
  box-shadow: 3px 3px black;
  background-color: var(--bright-green)
}
.bright-yellow-desaturated-button{
  color:black;
  border: 2px solid black;
  padding: .3em 1em;
  text-align: center;
  border-radius:20px;
  box-shadow: 3px 3px black;
  background-color: var(--bright-yellow-desaturated)
}
.red-pagination-button{
  box-shadow: 3px 3px black;
  background-color: var(--pastel-red);
  border-radius:100%;
  width:3em;
  height:3em;
  border: 2px solid black;
  color: white;
}
.white-pagination-button{
  box-shadow: 3px 3px black;
  background-color: white;
  border-radius:100%;
  width:3em;
  height:3em;
  border: 2px solid black;
  color: black
}


/*Inputs--------------------------------------*/
.standard-text-input{
  color:black;
  background-color: white;
  border-radius:20px;
  box-shadow: 4px 4px black;
  padding: .5em 1em
}
.standard-text-input::placeholder{
  color:rgb(41, 41, 41)
}

/*Icons*/
.ss-icon{
  max-width:20px;
  max-height:20px;
}
.s-icon{
  max-width:30px;
  max-height:30px;
}
.s-clickable-icon{
  max-width:30px;
  max-height:30px;
  cursor:pointer;
  transition: .2s;
}

.s-clickable-icon:hover{
  transform:scale(1.2);
}

/*borders*/
* {
  margin: 0;
}
body {
  margin: 0;
}
.s-border {
  border-radius: 15px;
  border: 2px solid black;
}
.m-border {
  border-radius: 20px;
  border: 3px solid black;
}
.g-border {
  border-radius: 25px;
  border: 5px solid black;
}

/*shadows*/
.s-shadow {
  box-shadow: 4px 4px black;
}
.m-shadow {
  box-shadow: 6px 6px black;
}
.g-shadow {
  box-shadow: 8px 8px black;
}

/*fonts*/
.s-font {
  font-size: 1em;
}
.m-font {
  font-size: 1.2em;
}
.g-font {
  font-size: 1.4em;
}
.bold {
  font-weight: bold;
}
.font-white {
  color: white;
}
.font-black {
  color: black;
}

/*background-colors*/
.bright-yellow {
  background-color: var(--bright-yellow);
}
.bright-yellow-desaturated {
  background-color: var(--bright-yellow-desaturated);
}
.pastel-yellow {
  background-color: var(--pastel-yellow);
}
.pastel-red {
  background-color: var(--pastel-red);
}
.pastel-blue {
  background-color: var(--pastel-blue);
}
.dark-grey {
  background-color: var(--dark-grey);
}

/*flex boxes*/
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.s-gap {
  gap: 5px;
}
.m-gap {
  gap: 10px;
}
.g-gap {
  gap:15px;
}

/*Opacity*/
.s-opaque{
  opacity:80%;
}
.m-opaque{
  opacity:60%;
}


/*width and height */
.width-100 {
  width: 100%;
}

/*padding*/
.s-padding-top {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.m-padding-top {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
.g-padding-top {
  padding-top: 1em;
  padding-bottom: 1em;
}
.s-padding-sides {
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.m-padding-sides {
  padding-right: 0.6em;
  padding-left: 0.6em;
}
.g-padding-sides {
  padding-right: 1em;
  padding-left: 1em;
}

.text-align-center {
  text-align: center;
}

/*animations*/
@keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}