@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --bright-yellow: #ffef3c;
  --bright-yellow-desaturated: #fff36e;
  --pastel-yellow: #fff58a;
  --pastel-red: #d53636;
  --pastel-blue: #4d51b4;
  --dark-grey: #1d1d1d;
}

a {
  text-decoration: none;
}
#root {
  max-width: calc(1280px);
  width: calc(100% - 6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  background-color: var(--pastel-yellow);
  min-height: calc(100vh-6px);
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(206, 116, 116);
  background-color: var(--pastel-red);
  color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*borders*/
* {
  margin: 0;
}
body {
  margin: 0;
}
.s-border {
  border-radius: 15px;
  border: 2px solid black;
}
.m-border {
  border-radius: 20px;
  border: 3px solid black;
}
.g-border {
  border-radius: 25px;
  border: 5px solid black;
}

/*shadows*/
.s-shadow {
  box-shadow: 4px 4px black;
}
.m-shadow {
  box-shadow: 6px 6px black;
}
.g-shadow {
  box-shadow: 8px 8px black;
}

/*fonts*/
.s-font {
  font-size: 1em;
}
.m-font {
  font-size: 1.2em;
}
.g-font {
  font-size: 1.4em;
}
.bold {
  font-style: bold;
}
.font-white {
  color: white;
}
.font-black {
  color: black;
}

/*background-colors*/
.bright-yellow {
  background-color: var(--bright-yellow);
}
.bright-yellow-desaturated {
  background-color: var(--bright-yellow-desaturated);
}
.pastel-yellow {
  background-color: var(--pastel-yellow);
}
.pastel-red {
  background-color: var(--pastel-red);
}
.pastel-blue {
  background-color: var(--pastel-blue);
}
.dark-grey {
  background-color: var(--dark-grey);
}

/*flex boxes*/
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.s-gap {
  gap: 5px;
}

/*width and height */
.width-100 {
  width: 100%;
}

/*padding*/
.s-padding-top {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.m-padding-top {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
.g-padding-top {
  padding-top: 1em;
  padding-bottom: 1em;
}
.s-padding-sides {
  padding-right: 0.3em;
  padding-left: 0.3em;
}
.m-padding-sides {
  padding-right: 0.6em;
  padding-left: 0.6em;
}
.g-padding-sides {
  padding-right: 1em;
  padding-left: 1em;
}

.text-align-center {
  text-align: center;
}

/*animations*/
@keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
