@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --logo-red: #d53636;
  --logo-blue: #4d51b4;
  --logo-yellow: #b8ac24;
  --logo-purple: #58255f;
  
}
#root{
  max-width:calc(1280px);
  width:calc(100% - 6px);
  display:flex;
  flex-direction: column;
  align-items: center;
  border:3px solid black;
  background-color: var(--pastel-yellow);
  min-height:calc(100vh-6px);
  margin:0;
}
body{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(206, 116, 116);
  background-color: var(--pastel-red);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
