.BookComponent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0px;
    padding:1.5em;
    max-width:600px;
    min-width:220px;
    background-color: white;
    text-align: start;
    border:3px solid black;
    border-radius:20px;
    box-shadow: 6px 6px black;
}
@media screen and (max-width:400px){
    .BookComponent{
        max-width:250px;
    }
}
.Book-title{
    margin-right:1em;
    font-weight:bold;
}
.book-title-input{
    font-size: 1.4em;
    font-weight: bold;
    border: 0;
    font-family: 'Rubik', sans-serif;
    height:1.4em;
}
.book-author-input{
    font-size: 1em;
    border: 0;
    font-family: 'Rubik', sans-serif;
    height:1.1em;
}
.book-component-icons-container{
    display:flex;
    gap:.5em;
    margin-left: 1em;
}

.vote-tags-container{
    margin-top:1em;
    flex-wrap: wrap;
}
.voter-tag{
    padding: .1em 1em;
    animation: popIn .2s ease-in-out;
}
