.pie-container {
  width:99%;
  max-width:600px;
  display: flex;
    align-items: center;
  flex-direction: column;
  border:2px solid black;
  padding:3em 0 3.5em 0;
  background-color: white;
  border-radius:20px;
  gap: 2em;
}
.divider{
    width:100%;
    border:2px solid black
}
@media (min-width:600px){
  .pie-container{
    padding:3em 2em 3.5em 2em
  }
}