.TagComponent{
    padding: .1em .6em;
    border: 2px solid black;
    border-radius:15px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.tag-white{
    background-color: white;
    color:black
}
.tag-red{
    background-color: var(--pastel-red);
    color: white
}
.tag-blue{
    background-color: var(--pastel-blue);
    color:white;
}
.tag-green{
    background-color: var(--pastel-green);
    color: white;
}